.dashboard--container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    #ffffff 0%,
    var(--color-primary-light) 20%,
    var(--color-primary-light) 80%,
    #ffffff 100%
  );
}
