.chatBox--container {
  height: 80vh;
  padding: 1rem;
  background-color: var(--color-white);
}

.chatBox__message {
  color: var(--font-color);
}

.chatBox__message--container {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: var(--color-primary);
}

.chatBox__message--info {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: rgb(189, 169, 255);
}

.chatBox__message--left {
  border-radius: 0 1rem 1rem 0;
}

.chatBox__message--right {
  margin-left: auto;
  background-color: greenyellow;
  border-radius: 1rem 0 0 1rem;
}
