/* TODO: Remove this when Chakra is 100% used */
.light {
  --color-primary: #c8dbef;
  --color-primary-light: #e4ebf3;
  --color-primary-dark: #adc3db;
  --color-white: #ffffff;
  --font-color: #000000;
  --font-color-inverted: #ffffff;
}
.dark {
  --color-primary: rgb(37, 37, 37);
  --color-primary-light: rgb(85, 85, 85);
  --color-primary-dark: black;
  --color-white: black;
  --font-color: #ffffff;
  --font-color-inverted: #ffffff;
}

h1,
p {
  color: var(--font-color);
}
