@keyframes revealFromLeft {
  0% {
    left: -20rem;
  }
  100% {
    left: 0rem;
  }
}

@keyframes hideToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -20rem;
  }
}

@keyframes revealFromRight {
  0% {
    right: -20rem;
  }
  100% {
    right: 0;
  }
}

@keyframes hideToRight {
  0% {
    right: 0;
  }
  100% {
    right: -20rem;
  }
}

.aside {
  position: relative;
  height: 100vh;
  width: 20rem;
  -webkit-box-shadow: 0px 0px 30px -5px #454545;
  -moz-box-shadow: 0px 0px 30px -5px #454545;
  box-shadow: 0px 0px 30px -5px #454545;
}

.aside__left--active {
  left: 0;
  animation-name: revealFromLeft;
  animation-duration: 0.2s;
}

.aside__left--inActive {
  left: -20rem;
  animation-name: hideToLeft;
  animation-duration: 0.2s;
}

.aside__right--active {
  right: 0;
  animation-name: revealFromRight;
  animation-duration: 0.2s;
}

.aside__right--inActive {
  right: -20rem;
  animation-name: hideToRight;
  animation-duration: 0.2s;
}
